<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/add-item.css" rel="stylesheet" type="text/css" />
    <script src="static/js/checklist-model.js"></script>
</head>
<body ng-app="exboard">
<div id='addItemBlock' ng-controller="AddItemController">
    <div id="scrollerItem">

        <form novalidate class="form">
            <div>
                <div id="firstStep">
                    <p class="title">Шаг 1. Что вы хотите обменять?</p>
                    <input placeholder="Название объявления" type="text" ng-model="item.title" /><br />
                    <textarea placeholder="Описание" ng-model="item.description">
                    </textarea>
                    <br/>
                    <select ng-model="item.cat_id" ng-change="getFilters(item.cat_id, 1)" ng-controller="CategoriesListController">
                        <option value="{{ category.id }}" ng-repeat="category in categories.0.data">
                            {{ category.title }}
                        </option>
                    </select>
                    <br />
                    <div class="form-group" ng-repeat="filter in filterslistbox">
                        <p>{{filter.title}}
                            <select ng-model="item.filters[filter.title]">
                                <option value="{{ value.id }}" ng-repeat="value in filter.values">{{value.value}}</option>
                            </select>
                        </p>
                    </div>
                    <div class="form-group" ng-repeat="filters in filterscheckbox">
                        {{filters.title}}
                        <span ng-repeat="filter in filters.values" class="filters-checkbox">{{filter.value}}<input type="checkbox" checklist-value="filter.id" checklist-model="item.filters[filters.title]"></span>
                    </div>
                    <span class="filters-checkbox" ng-repeat="filters in filtersradio">
                        {{filters.title}}
                            <input ng-repeat="filter in filters.values" type="radio" checklist-model="item.filters[filters.title]">
                    </span>

                    <div class="form-group" data-ng-repeat="filter in filterstextbox">
                        <p>{{filter.title}}<input ng-model="item.filters[filter.title]"></p>
                    </div>
                    <!--<input placeholder="Регион доставки" type="text" ng-model="item.deliver_region" /><br />-->
                    <br/>
                    <button ng-click="secondStep()">Добавить объявление</button>


                </div>
                <div id="secondStep">
                    <p class="title">Шаг 2. На что вы хотите обменять?</p>
                    <input placeholder="Название объявления" type="text" ng-model="item2.title" /><br />
                    <textarea placeholder="Описание" ng-model="item2.description">
                    </textarea>
                    <br/>
                    <select ng-model="item2.cat_id" ng-change="getFilters(item2.cat_id, 2)" ng-controller="CategoriesListController">
                        <option value="{{ category.id }}" ng-repeat="category in categories.0.data">
                            {{ category.title }}
                        </option>
                    </select>
                    <div class="form-group" ng-repeat="filter in filterslistbox_2">
                        <p>{{filter.title}}
                            <select ng-model="item.filters[filter.table_with_values]">
                                <option value="{{ value.id }}" ng-repeat="value in filter.values">{{value.value}}</option>
                            </select>
                        </p>
                    </div>
                    <div class="form-group" ng-repeat="filters in filterscheckbox_2">
                        {{filters.title}}
                        <span ng-repeat="filter in filters.values" class="filters-checkbox">{{filter.value}}<input type="checkbox" checklist-value="filter.id" checklist-model="item2.filters[filters.table_with_values]"></span>
                    </div>
                    <span class="filters-checkbox" ng-repeat="filters in filtersradio_2">
                        {{filters.title}}
                            <input ng-repeat="filter in filters.values" type="radio" checklist-model="item2.filters[filters.table_with_values]">
                    </span>

                    <div class="form-group" data-ng-repeat="filter in filterstextbox_2">
                        <p>{{filter.title}}<input ng-model="item2.filters[filter.table_with_values]"></p>
                    </div>
                    <!--<input placeholder="Регион доставки" type="text" ng-model="item2.deliver_region" /><br />-->
                    <br/>
                    <button ng-click="add(item, item2)">Добавить объявление</button>

                </div>
            </div>
        </form>
        <br/>
        item = {{ item || json }}
        <br/><br/>
        item2 = {{ item2 || json }}
    </div>
</div>

</body>
</html>