<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/add-item.css" rel="stylesheet" type="text/css" />
    <script src="static/js/checklist-model.js"></script>
</head>
<body ng-app="exboard">
<div id='addCatBlock' ng-controller="AddCategoryController">
    <form novalidate class="form">
        <input ng-model="item.action" type="hidden" ng-value="add" />
        <input placeholder="Название категории" type="text" ng-model="item.title" /><br />
        <textarea placeholder="Описание категории" ng-model="item.description">
        </textarea><br />
        <textarea placeholder="Ключевые слова" ng-model="item.key_words">
        </textarea>
        Фильтры: <span ng-controller="FiltersController">
            <span ng-repeat="filter in filters.0.data" >
            <input
                    type="checkbox"
                    checklist-model="item.filters"
                    checklist-value="filter.id">
            {{ filter.title }}
                </span>
        </span>



        <br/>
        Родительская категория
        <select ng-model="item.parent_id" ng-controller="CategoriesListController">
            <option value="{{ category.id }}" ng-repeat="category in categories.0.data">
                {{ category.title }}
            </option>
        </select>

        <br/>
        Скрытая? <input type='checkbox' ng-model="item.is_hidden"/><br />

        <button ng-click="add(item)">Добавить категорию</button>
    </form>
    <p class="title">Добавление категории</p>
    <pre>item = {{item | json}}</pre>
    <pre>filters = {{filters | json}}</pre>
    <pre>filters = {{item.filters | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>

</body>
</html>