<div id='loginBlock' ng-controller="authCtrl">
    <form novalidate class="form login">
        <input placeholder="Электронный адрес" type="email" ng-model="login.email" /><br />
        <input placeholder="Пароль" type="password" ng-model="login.password" /><br /><br />
        <button ng-click="doLogin(login)">Войти</button>
    </form>
</div>

