
<div id='addCatBlock' ng-controller="AddCategoryController">
    <p class="title">Добавление категории</p>
    <form novalidate class="form">
        <input ng-model="item.action" type="hidden" ng-value="add" />
        <input placeholder="Название категории" type="text" ng-model="item.title" /><br /><br />
        <textarea placeholder="Описание категории" ng-model="item.description">
        </textarea><br /><br />
        <textarea placeholder="Ключевые слова" ng-model="item.key_words">
        </textarea>
        Фильтры: <span ng-controller="FiltersController">
            <span class="filters-checkbox" ng-repeat="filter in filters.0.data" >
            <input
                    type="checkbox"
                    checklist-model="item.filters"
                    checklist-value="filter.id">
            {{ filter.title }}
                </span>
        </span>



        <br/><br/>
        Родительская категория
        <select ng-model="item.parent_id" ng-controller="CategoriesListController">
            <option value="{{ category.id }}" ng-repeat="category in categories.0.data">
                {{ category.title }}
            </option>
        </select>

        <br/><br/>
        Скрытая? <input type='checkbox' ng-model="item.is_hidden"/><br />

        <button ng-click="add(item)">Добавить категорию</button>
    </form>

    <pre>item = {{item | json}}</pre>
    <pre>filters = {{filters | json}}</pre>
    <pre>filters = {{item.filters | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>
