
    <div ng-controller="CategoriesController" id="addCatBlock">
        <p class="title">Удаление категорий</p>
        <ul ng-repeat="category in categories.0.data">

                <li><a href='#' style='color:red;' ng-mousedown="remove(category.id, category.title)">x</a> {{ category.title }}</li>
                <ul ng-if="category.children">
                    <div ng-repeat="category in category.children">

                            <li><strong><a href='#' style='color:red' ng-mousedown="remove(category.id, category.title)">x</a> {{ category.title }}</strong></li>
                            <ul ng-if="category.children">
                                <li ng-repeat="category in category.children">
                                    <a href='#' style='color:red' ng-mousedown="remove(category.id, category.title)">x</a> {{ category.title }}
                                </li>
                            </ul>

                    </div>
                </ul>

        </ul>
    </div>
