<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="static/js/checklist-model.js"></script>
    <script src="static/js/angular-animate.min.js"></script>
    <script src="static/js/toaster.js"></script>
    <script type="text/javascript" src="static/js/admin.js"></script>

    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="static/css/categories.css" rel="stylesheet" type="text/css" />
    <link href="static/css/add-item.css" rel="stylesheet" type="text/css" />
    <style>
        #navigation {
            width: 900px;
            margin: 0 auto;
            background-color: #f8f8f8;
            border: 1px solid #e7e7e7;
            padding: 15px;
            border-radius: 4px;
        }
        #navigation span { padding: 10px;}
        #navigation a { color: #777; }
    </style>
</head>
<body ng-app="exboard">
<div id="admin" ng-controller="BodyController">
    <div ng-if="authenticated" id="navigation">
        <!--<a href="#categories">Управление категориями</a>-->
        <span>•</span>
        <a href="#add-categories">Добавление категорий</a>
        <span>•</span>
        <a href="#insert-categories">Вставка категорий</a>
        <span>•</span>
        <a href="#remove-categories">Удаление категорий</a>
    </div>
    <div id="main">

        <div ng-view></div>

    </div>
</div>
</body>
</html>