<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>

    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="static/css/categories.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="exboard">
<div id="wrapper">
    <div class="categories" ng-controller="CategoriesController">
        <div class="first-level" ng-repeat="category in categories.0.data">
            <div ng-mouseover="show(category.id)" ng-mouseout="hide(category.id)">
                <a href="{{ category.title }}">{{ category.title }}</a>
                <div id="{{ category.id }}" ng-mouseout="hide(category.id)" class="second-level hidden" ng-if="category.children">
                    <div ng-repeat="category in category.children">
                        <div>
                            <strong><a href="{{ category.title }}">{{ category.title }}</a></strong>
                            <div class="third-level" ng-if="category.children">
                                <div ng-repeat="category in category.children">
                                    <a href="{{ category.title }}">{{ category.title }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:450px; height: 300px; background: green;">
        opopopopfdfdf dfdf df df d f
    </div>


</div>
</body>
</html>