<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/add-item.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="exboard">
<div id='adddCatBlock' ng-controller="InsertCategoryController">
    <p class="title">Вставка категории</p>
    <form novalidate class="form">
        <input ng-model="item.action" type="hidden" ng-value="insert" />
        <input placeholder="Название категории" type="text" ng-model="item.title" /><br />
        <textarea placeholder="Описание категории" ng-model="item.description">
        </textarea><br />
        <textarea placeholder="Ключевые слова" ng-model="item.key_words">
        </textarea>
        <br/>
        Родительская категория
        <select ng-model="item.parent_id" ng-controller="CategoriesListController">
            <option ng-value="{{ category.id }}" ng-repeat="category in categories.0.data">
                {{ category.title }}
            </option>
        </select>
        <br/>
        Фильтры <input type='checkbox' ng-model="item.filters"/>
        <br/>
        Скрытая? <input type='checkbox' ng-model="item.is_hidden"/><br />

        <button ng-click="add(item)">Добавить категорию</button>
    </form>
    <pre>item = {{item | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>

</body>
</html>