<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/reset.css" rel="stylesheet" media="all"/>
    <link href="static/css/styles.css" rel="stylesheet" media="all"/>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="static/css/categories.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="exboard">
<div id="all_content">

<div id="cabinet" ng-controller="GetCookieController">
    <form id="loginForm" style='display:none' ng-controller="LoginController" action="#"> E-mail: <input type="email" ng-model="login.email" type="text"/>&nbsp;&nbsp; Пароль: <input type="password" ng-model="login.password" type="text"/> <button ng-click="update(login)"></button><span> <a href="#">Регистрация</a> | <a href="#">Забыли пароль?</a> </span></form>
</div>



<div id="nav_horizontal" style="margin-top:10px">
    <div class="categories" ng-controller="CategoriesController">
        <div class="first-level" ng-repeat="category in categories.0.data">
            <div ng-mouseover="show(category.id)" ng-mouseout="hide(category.id)">
                <a href="{{ category.title }}">{{ category.title }}</a>
                <div id="{{ category.id }}" ng-mouseout="hide(category.id)" class="second-level hidden" ng-if="category.children">
                    <div ng-repeat="category in category.children">
                        <div>
                            <strong><a href="{{ category.title }}">{{ category.title }}</a></strong>
                            <div class="third-level" ng-if="category.children">
                                <div ng-repeat="category in category.children">
                                    <a href="{{ category.title }}">{{ category.title }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div id="shop">
    <!-- Left menu !-->

    <!-- End of Left menu !-->

    <!-- Catalog big !-->
    <div id="big_catalog">



        <!-- Popular !-->

        <div class="popular" style='float: left;  '>
            <p style="font-size: 18px; text-align: center;">Предлагают:</p>
            <div class="tovar">

                <h1><a href="#">Велосипед</a></h1>

                <a href="#"><img src="img/velik.jpg" /></a>

            </div>
            <div class="tovar">

                <h1><a href="#">Кроватка</a></h1>

                <a href="#"><img src="img/krovatka.jpg" /></a>

            </div>
            <div class="tovar">
                <h1><a href="#">Тапочки</a></h1>

                <a href="#"><img src="img/tapki.jpg" /></a>

            </div>

            <div class="tovar">
                <h1><a href="#">Коляска</a></h1>

                <a href="#"><img src="img/kolyaska.jpg" /></a>

            </div>

            <div class="tovar">
                <h1><a href="#">Шапка</a></h1>

                <a href="#"><img src="img/shapka.jpg" /></a>

            </div>
        </div>
        <div class="popular" style="'float: right;  ">
            <p style="font-size: 18px; text-align: center;">Нуждаются в:</p>
            <div class="tovar">
                <h1><a href="#">Коляска</a></h1>

                <a href="#"><img src="img/kolyaska.jpg" /></a>

            </div>

            <div class="tovar">
                <h1><a href="#">Шапка</a></h1>

                <a href="#"><img src="img/shapka.jpg" /></a>

            </div>
            <div class="tovar">

                <h1><a href="#">Велосипед</a></h1>

                <a href="#"><img src="img/velik.jpg" /></a>

            </div>
            <div class="tovar">

                <h1><a href="#">Кроватка</a></h1>

                <a href="#"><img src="img/krovatka.jpg" /></a>

            </div>
            <div class="tovar">
                <h1><a href="#">Тапочки</a></h1>

                <a href="#"><img src="img/tapki.jpg" /></a>

            </div>
        </div>
        <!-- End of Popular !-->
    </div>
    <!-- End of Catalog big !-->
</div>

</div>
</body>
</html>