<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>

    <script src="static/js/checklist-model.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="exboard">
    <div id='wrapper'>
        <div id='registrationBlock' ng-controller="RegistrationController">
            <p class="title">Регистрация</p>
            <form novalidate class="form registration">
                <input placeholder="Имя" type="text" ng-model="user.name" /><br />
                <input placeholder="Электронный адрес" type="email" ng-model="user.email" /><br />
                <input placeholder="Пароль" type="password" ng-model="user.password" /><br /><br />
                <button ng-click="update(user)">Зарегистрироваться</button>
            </form>
            <pre>form = {{user | json}}</pre>
            <pre>master = {{master | json}}</pre>
        </div>
        <div id='loginBlock' ng-controller="LoginController">
            <p class="title">Авторизация</p>
            <form novalidate class="form login">
                <input placeholder="Электронный адрес" type="email" ng-model="login.email" /><br />
                <input placeholder="Пароль" type="password" ng-model="login.password" /><br /><br />
                <button ng-click="update(login)">Войти</button>
            </form>
            <pre>form = {{login | json}}</pre>
            <pre>master = {{cookie | json}}</pre>
        </div>
        <div id='getCookieBlock' ng-controller="GetCookieController">
            <form novalidate class="form login">
                <button ng-click="getCookie()">Получить куку</button>
            </form>
        </div>
        <div id='logoutBlock' ng-controller="LogoutController">
            <form novalidate class="form login">
                <button ng-click="logout()">Выйти</button>
            </form>
        </div>
    </div>

</body>
</html>