<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/categories.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="exboard">
<div>
    <div ng-controller="CategoriesController">
        <ul ng-repeat="category in categories.0.data">

                <li><a href='#' style='color:red;' ng-mousedown="remove(category.id, category.title)">x</a> {{ category.title }}</li>
                <ul ng-if="category.children">
                    <div ng-repeat="category in category.children">

                            <li><strong><a href='#' style='color:red' ng-mousedown="remove(category.id, category.title)">x</a> {{ category.title }}</strong></li>
                            <ul ng-if="category.children">
                                <li ng-repeat="category in category.children">
                                    <a href='#' style='color:red' ng-mousedown="remove(category.id, category.title)">x</a> {{ category.title }}
                                </li>
                            </ul>

                    </div>
                </ul>

        </ul>
    </div>
</div>
</body>
</html>