<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Exboard</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script type="text/javascript" src="static/js/angular-file-upload.js"></script>
    <script type="text/javascript" src="static/js/angular-file-upload-shim.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="exboard">
<div id='wrapper'>
    <div id='registrationBlock' ng-controller="UploadController">
        <form novalidate class="form registration">
            <input type="file" ng-file="file" placeholder="Картинка"/><br />
            <button ng-click="upload(file)">Загрузить</button>

        </form>
        <pre>file = {{file | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>
</div>

</body>
</html>