body { font-family: "PT Sans",sans-serif;  }

#addItemBlock, #addCatBlock {
    width:530px;

    overflow: hidden;
    margin: 0 auto;
}
#addItemBlock {height: 1515px;}
.title { color: #4a4a4a; font-size: 24px; text-align: center;}

.form input[type="text"], .form input[type="submit"] {width: 520px; border: 1px #e7e7e7 solid; height: 20px; margin: 5px 0px; font-size: 14px; border-radius: 1px; padding: 3px;}

.form textarea {width: 520px; height: 40px; border: 1px #e7e7e7 solid; border-radius: 1px;}
.form button
{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 46px;
    padding: 5px;
    font-size: 16px;
    background: #3498db;
    color: #f6f7f8;
    font-family: "PT Sans",sans-serif;
    border-radius: 4px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    cursor: pointer;
}

select {width: 350px; border-radius: 1px;}

.filters-checkbox {padding-right: 15px; font-size:13px;}
.filters-checkbox input {width:13px; height: 13px;}

input[type="checkbox"] {width: 13px; height:13px;}
pre {display: none}

#secondStep {display: none}