.categories
{
font-size: 18px;
margin-left: 15px;
color: #fff;
float: left;
}

.categories .first-level { float:left; padding-left: 20px; padding-right: 20px; }
.categories .first-level a {color: #fff; font-weight: bold;}
.categories .second-level {
border-radius: 5px; border: 1px #cccccc dotted;
background: #f5fafc; position: absolute; padding: 5px;
list-style-position: inside; width: 400px;
list-style-image: url('images/list-parent.png');
}
.categories .second-level a {color: #006699; text-decoration: underline; font-size: 14px; font-weight: normal; display: list-item;}

a:hover {text-decoration:none;}

.categories .third-level a
{margin-left:25px; display: list-item; list-style-image: url('images/list-hidden.png');
list-style-position: inside; }
.hidden {display: none;}

.second-level a, .third-level a {padding: 15px 10px; border-bottom: 1px dotted #cccccc;}

