body { font-family: "PT Sans",sans-serif;  }

#registrationBlock {
    width:290px;
    margin: 0 auto;
    text-align: center;
}

#loginBlock {
    width:290px;
    margin: 250px auto;
    text-align: center;
}

#logoutBlock {
    width:262px;
    margin: 0 auto;
    text-align: center;
}

#getCookieBlock {
    width:262px;
    margin: 0 auto;
    text-align: center;
}

.title { color: #3498db; font-size: 32px;}

.form input { width: 290px; height: 26px; margin: 5px 0px; font-size: 14px; padding: 5px;}
#loginBlock .form button {
    width: 150px;
    height: 46px;
    padding: 5px;
    font-size: 16px;
    background: #3498db;
    color: #f6f7f8;
    font-family: "PT Sans", sans-serif;
    border-radius: 4px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    cursor: pointer;
}

#wrapper { width: 950px; margin: 0 auto;}