body
{
min-width: 1000px;
background: url('images/background.png');
background-repeat: repeat-x;
font-family: Tahoma;
font-size: 12px;
height: 100%;
}
a 
{
text-decoration: underline; 
}
a:hover
{
text-decoration: none;
}
#all_content
{
width: 1000px;
margin: 0 auto;
height: 100%;
}

#cabinet 
{
width: 980px;
height: 40px;
margin: 0 auto;
background: url('images/bg-cabinet.png');
background-repeat: no-repeat;
line-height: 40px;
padding-left: 15px;
margin-left: 10px;
color: #fff;
}
#cabinet a
{
color: #fff;
}
#cabinet span 
{
margin-left: 260px;
}
#cabinet button
{
background: url('images/login.png');
background-repeat: no-repeat;
border: 0;
width: 55px;
height: 22px;
    padding-bottom: 5px;
margin-left: 10px;
}
#header 
{
width: 960px;
margin: 0 auto;
height: 150px;
}
#nav_horizontal
{
width: 980px;
height: 50px;
margin: 0 auto;
background: url('images/bg-nav.png');
background-repeat: no-repeat;
padding-top: 10px;
}
#nav_horizontal ul
{
margin-left: 15px;
color: #fff;
float: left;
margin-top: 5px;
}
#nav_horizontal ul b
{
color: #000;
}
#nav_horizontal ul li 
{ 
display: inline;
list-style-type: none;
padding: 5px;
} 
#nav_horizontal ul li a
{
color: #fff;
font-weight: bold;
}
#nav_horizontal form
{
float: right;
padding-right: 15px;
}
#nav_horizontal form input {
}
#nav_horizontal input[type="submit"]
{
width: 55px;
height: 21px;
background: url('images/search.png');
border: 0;padding-bottom: 5px;
}
#nav_horizontal input
{
height: 15px;
}

#shop
{
width: 960px;
margin: 0 auto;
margin-top: 15px;
float: center;
min-height: 860px;
}
#catalog
{
width: 220px;
float: left;
height: 740px;
}
#big_catalog
{
width:100%;
}
.cat_title
{
width: 220px;
height: 29px;
line-height: 29px;
background: url('images/bg-cat.png');
background-repeat: no-repeat;
margin-top: 10px;
color: #fff;
font-weight: bold;
padding-left: 10px;
}
#catalog p 
{
font-size: 18px;
}
#catalog ul li
{
border-top: 1px dotted #cccccc;
list-style-position: inside;
list-style-image: url('images/list-parent.png');
height: 20px;

background: #f5fafc;
padding-left: 5px;
padding-top: 12px;
}
#catalog ul.hidden li
{
list-style-position: inside;
list-style-image: url('images/list-hidden.png');
}
#catalog ul
{
font-size: 11px;

}
#catalog ul.hidden
{
padding-left: 30px;
}
#catalog ul li.active
{
background: #e6f2f8;
}
#catalog ul li:hover
{
background: #e6f2f8;
}
#catalog a
{
color: #006699;
}
.part
{
width: 240px;
float: left;
padding-bottom: 40px;
}
.part p 
{
font-size: 16px;
color: #000;
padding-bottom: 10px;
}
.part a
{
color: #006699;
}
.part li
{
padding-top: 5px;
padding-bottom: 5px;
list-style-image: url('images/list-content.png');
list-style-position: inside;

}
.all_link
{
float: right;
margin-top:5px;
color: #ff9900;
}
.part span a
{
color: #ff9900;
font-size: 11px;
}
.popular
{
width: 480px;
display:inline
}
.tovar
{
margin-top: 20px;
width: 220px;
height: 280px;
background: url('images/bg-tovar.png');
background-repeat: no-repeat;
float: left;
text-align: center;
margin-right: 20px;
}
.tovar h1
{
max-width: 210px;
margin-top: 30px;
margin-bottom: 10px;
}
.tovar h1 a
{
color: #006699;
}
.tovar p
{
margin-bottom: 5px;
font-size: 11px;
max-width: 215px;
}
.tovar p b
{
color: #ff9900;
}
.tovar p
{
line-height: 21px;
color: #666;
}
.tovar img
{
margin-top: 30px;
max-width: 170px;
max-height: 150px;
}
.price
{
width: 150px;
margin: 0 auto;
}
.price img
{
float: right;

}
#footer
{
position: relative;
width: 981px;
height: 70px;
background: url('images/footer-bg.png');
background-repeat: no-repeat;
margin: 0 auto;
bottom: 0px;

}
#footer form
{
padding-top: 20px;
margin-left: 20px;
}
#footer input
{
width: 60px;
height: 20px;
}
#footer ul
{
margin-top: -20px;
float: right;
margin-right: 20px;
}
#footer li
{
color: #fff;
display: inline;
}
#footer li a
{
color: #fff;
font-weight: bold;
}
.copy
{
float: right;
color: #fff;

text-decoration: none;
}